<div th:fragment="footer">
    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
            <p class="mb-1">Made by ©Allez</p>
            <p class="mb-0">Впервые на сайте? <a href="/">Посетите главную страницу</a> или <a href="mailto:iam35@list.ru">напишите нам</a>.</p>
        </div>
    </footer>
    <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</div>